body{
    font-family:'Poppins', sans-serif;
}
.container{
    margin-top:50px;
}
.logo2{
    width: 100px;
    height: 100px;
}
.top-bg{
    
    background-image: url(img/bg-2.png);
    background-repeat:no-repeat ;
}
.carousel-button{
    background-image: linear-gradient(160deg,orange,rgb(223, 209, 20));
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.buy-button{
    background-color: black;
    padding: 10px;
    padding-right: 20px;
    color: white;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.SEE{
    color: rgb(34, 34, 238);
}
.card-body{
    text-align: center;
    
}
.card-shadow{
    border: none;
    box-shadow: 10px 5px 20px lightblue;
}
.laptop{
    width: 500px;
}
.phone{
    width: 320px;
    margin-left: 40px;
    margin-top: 15px;
}
.laptop{
    width: 320px;
    margin-left: 40px;
}
.line{
    width: 100px;
    height: 10px;
    background-image: linear-gradient(160deg,orange,rgb(223, 209, 20));
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    margin-bottom: 50px;
}
.box-botom1{
    border: none;
    box-shadow: 10px 5px 20px lightblue;
    padding:30px;
    margin-left: 200px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
.box-botom2{
    border: none;
    box-shadow: 10px 5px 20px lightblue;
    margin-top: 10px;
    margin-bottom: 30px;
    margin-left: 30px;
    padding: 30px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
.wd{
    width: 200px;
    height: 200px;
}
.tx{
    text-align: center;
}
.tx2{
    text-align: center;
}
.end{
    
}
